<!DOCTYPE html>

<html>

<head>
    <title>Show Product 3</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="manifest" href="/manifest.json">


</head>

<body>
    <div class="form-group">
        <form name="remove_product" action="index.html" method="POST">
            <table>
                <tr>
                    <td style="text-align: left;"><label>Product description: Made with organic<br> ingredient and brow sugar. </label> </td>
                    <td><img src="../../static/images/Ice-Cream-Scoops-With-Chocolate-Syrup.png" height="400px"/></td><td></td>
                </tr>
                <tr>
                    <td style="text-align: left;">
                        <label>Select Quantity</label><select name="quantity">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>
                    </td>
                    <td><label>Total Price: $10</label></td>
                    <td><input class="btn btn-default" type="button" value="Add to cart"></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td><td></td>
                </tr>
            </table>
        </form>
    </div>
</body>

</html>