<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/html.html to edit this template
-->
<html>
    <head>
        <title>Test</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="../static/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
        <link href="../static/css/titlecss.css" rel="stylesheet" type="text/css"/>
        <link rel="manifest" href="/manifest.json">


    </head>
    <body>
        <script type="module" src="../static/js/emailScript.js"></script>

        <div>Hello, thanks for the order!</div>
        <div id='total'>THis is a test {{email}}</div>
        <div>
            <table id="order">

            </table>
        </div>
        <div >{{email}}</div>



        <script type="text/javascript">
    </body>
</html>
